<mat-card>
    <mat-card-header>
        <mat-card-title>Add New Row</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" (submit)="$event.preventDefault()" #tableForm="ngForm">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" id="name" name="name" [(ngModel)]="student.name" required>
            </mat-form-field>
            <button mat-button (click)="onAdd()">Add</button>
        </form>
    </mat-card-content>
</mat-card>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--id column-->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!--name column-->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
</div>